<div>
    <div style="background-color: aliceblue; font-size: initial; font-weight: bold; margin: 7px 0; padding: 5px;text-align: right;">ריכוז אנשי קשר</div>
        <div class="content-inline" style="margin-top: 16px;  margin-right: 10px;">
            <div style="padding: 0px 28px;text-align: right;">   
                    <button class="button button-dark" (click)="addInsured()"style="margin-right:3px;background-color: rgb(26, 26, 126);" >
                        הוספת מבוטח
                    </button>
                    <button class="button button-dark" (click)="resetContacts()" style="margin-right:3px;background-color: rgb(26, 26, 126);">
                        איפוס מלא
                    </button>
                    <button class="button button-dark" (click)="resetContactsNotDelivery()" style="margin-right:3px;background-color: rgb(26, 26, 126);">
                        איפוס אנשי קשר
                    </button>
                    :מספר אנשי קשר בתהליך       : {{numPersons}}    פעולות אפשריות 
            </div>
        </div>
</div>
  
